* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.line1,
.line2,
.line3
{
    transform: rotate(-45deg);
    margin: 83px 0px;
}

.line1 {
    margin-top: -200px;
}

.line2 {
    margin-left: 423px;
    margin-top: -169px;
}
.line3 {
    margin-left: 760px;
    margin-top: -168px;
}